@import './src/styles/variables';

.noteBlock {

  margin: 20px;
  width: 220px;
  padding: 10px;
  background: #9A8B8BFF;
  background: linear-gradient(to left bottom, transparent 50%, rgba(0, 0, 0, .3) 0) no-repeat 101% 0 / 30px 30px,
  linear-gradient(-135deg, transparent 20px, rgba(229, 188, 103, 0.75) 0);

  .delButton {
    background-color: $second;
    margin: -6px;
    padding: 7px;
    border-radius: 3px;

    &:hover {

      background-color: #cc1818;

    }
  }

  .title {
    margin: 20px;
    padding: 2px;
    background-color: $backGroundColor;
    border-radius: 25px;
    opacity: 80%;
    text-align: center;
    font-size: 30px;
  }
}

