@import './src/styles/variables';

.notesBlock {

  .items {
    display: flex;
    flex-wrap: wrap;

    .tags {
      position: relative;
      font-size: 25px;
      top: -30px;
      left: 35px;

      &:hover {
        color: #5858ef;
        text-decoration: underline;
      }
    }
  }
}