@import './src/styles/variables';

.notesBlock {

  .items {
    display: flex;
    flex-wrap: wrap;

    .tags {
      height: 20px;
      font-size: 25px;
      position: absolute;
      top: 40px;
      left: 400px;

      &:hover {
        color: #5858ef;
        text-decoration: underline;
      }
    }
  }
}